div.plate_container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-end;
}

div.source_plate, div.dest_plate {
	width: 100%;
}
div.source_plate {
	border: 2px solid red;
}
div.dest_plate {
	border: 2px solid blue;
}
