table, tr, td {
	user-select: none; /* Prevents dragging issue */
	border-spacing: 0px;
}
td.plate_cell {
	height: 2vmin;
	background: none;
}

div.plate_cell_inner {
	aspect-ratio: 1 / 1;
	height: 90%;
	border-radius: 50%;
	border: 2px solid black;
}
td.plate_cell:hover div.plate_cell_inner {
	background: black !important;
}

div.source_plate td.current_select div.plate_cell_inner {
	background: lightblue !important;
}
div.dest_plate td.current_select div.plate_cell_inner {
	background: lightcoral !important;
}
